*{
    box-sizing: border-box;
}
::selection{
    color: pink;
}
.divider{width:100%;
height: 6vh;}
body{
    padding:0;
    margin:0;
    
}
header{
    position: fixed;
    width:100%;
    top:0;
    background: transparent;
    z-index: 1001;
}
.hero{
    position: relative;;
    height: 800px;
    top:0;
    left:0vw;
    right:0;
    background:url('../images/hero2.jpg') no-repeat;
    background-size: cover;
    opacity:1;
    border-top-left-radius: 48%;
    -webkit-border-left-radius:48%;
}
svg{
    height:600px;
    position: absolute;
    bottom:0;
    width:100%;
    fill: #fff;
    z-index:5;
}
.cta-container{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align:center;
}
.cta a{
    padding:20px;
    background:red;
    border:  50%;
    border-bottom-left-radius:  50%;
}
.cta-container p{
    font-family: 'Anton',sans-serif;
    color:#fff;
    font-size:4.2em;
}

.first{display:block;
transition: transform 0.3s ease-in;
}
.first ul{
    display: flex;
    list-style-type: none;
    padding:4vh 12vw; 
    margin:0;
    justify-content: center;
    width:100%;
}
.first li:first-child{
    margin-right: auto;
}
 li:not(:last-child){
    margin-right: 20px;
}
.first a{
    font-family: 'Niramit', sans-serif;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    color:#333;
    position: relative;
}
.first a::before{
    content:'';
    border-bottom: 3px solid;
    width: calc(100%);
    position: absolute;
    left:0px;
    bottom:0;
    transform: translateY(5px);
    transition: opacity, transform 0.3s;
    opacity:0;
}
.logo::before{
    display:none;
}
.first a:hover::before{
    transform: translateY(0);
    opacity:1;
}
#toggle-menu{
  position: fixed;
  top:0;
  right:0;
  width:auto;
  background: rgba(0,0,0,0.95);
  height:100%;
  padding-top: 80px;  
  overflow-x: hidden;
  width:0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition:width 0.3s;
  z-index: 1;
  box-shadow: 3px 4px 6px -2px rgba(0,0,0,0.3);
}
#toggle-menu a{
    display: block;
    color:#fff;
    font-family: 'Niramit',sans-serif;
    font-size: 3.2em;
    padding-right: 20px;
    text-decoration: none;
}
#toggle-menu a:hover{
    color: grey;
}
.nav-container{
    position: relative;
}
.nav-container div{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:2vh 6vw;
    color:#fff;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background: #000;
    box-shadow: 5px 2px 6px -3px rgba (0,0,0,0.4);
  }
.scroll .first{
 transform: translateY(-140px);
 position: absolute;
 width:100%;
 transition: transform 0.1s ease-in;
}
.scroll .hamburger{
    opacity:1;
    transition: opacity 1.7s cubic-bezier(0.23, 1, 0.320, 1);
}

main{
padding: 0 5vw;
}

/*about us*/
.about{
    position: relative;
    background:blue;
    padding-top:0px;
}
.about-us{
    position: absolute;
    top:0;
    right: 0px;
    width:47vw;
}
 p{
    padding:0;
    margin:0;
}

.about-us span, .team span, .services span, .portfolio span{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
font-family: 'Niramit',sans-serif;
font-size: 1.5em;
text-align:center;
position:relative;
width:calc(100%);
margin:0;
box-sizing: border-box;
font-weight:bold;
}
.about-us span::before, .team span::before, .services span::before,
.portfolio span::before{
    content:'';
    border-bottom: 3px solid;
    border-color: #30cfd0;
    width: calc(100% - 30%);
    position: absolute;
    left:0px;
    bottom:0;
}
.about p:not(:first-child){
    font-size:3em;
    font-family:'Roboto',sans-serif;
    margin:0;
}
.about p:last-child{
    font-size:1.5em;
    font-family: 'Niramit', sans-serif;
}
#animated {
    text-align: left;
    margin:0;
}
/*styling for animated text*/
#text {
	display: inline-block;
	vertical-align: middle;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Niramit', sans-serif;
    font-size:2.6em;
    font-weight:bold;
    padding:0;
    margin:0;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #30CFD0;
	animation: blink .75s step-end infinite;
}
/*about us team*/
.team{
    position: absolute;
    top:392px;
    left:0;
    width:100%;
    padding:5vh;
}
.team-picture{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:70vw;
}
.team-picture p{
    width:100%;
    background:white;
    text-align:right;
    font-size:1em;
    padding:0 7px;
}
.card{
    background: #fff;
    position: relative;
    box-shadow: 2px 6px 12px -2px rgba(0,0,0,0.4);
}
.card img{
    transition:transform 0.1s ease-in;
}
.card:hover img{opacity:0.93;}

[tooltip]::before{
    content:attr(tooltip);
    position:absolute;
    width: calc(100%);
    height:4.5em;
    text-align: center;
    border-radius: 4%;
    font-size:1.4em;
    line-height:2;
    left:0;
    top:0;
    z-index: 1000;
    transform: translate(-7em,-5.4em);
    color:#fff;
    background: #333;
    box-shadow: 1px 7px 10px -3px rgba(0,0,0,0.4);
    opacity:0;
    
}
[tooltip]::after{
    position: absolute;
    content:"";
    border-top: 20px solid #333;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent ;
    top:0;
    left:calc(50%);
    transform: translate(-8.7em, -1.3em);
    z-index:1001;
    width:0;
    height:0;
    opacity:0;
}
[tooltip]:hover::before{
    animation: transformation-before 0.3s ease-out forwards;
}
[tooltip]:hover::after{
    animation: transformation-after 0.3s ease-out forwards;
}
section{
    position: relative;
    top:1098px;
    left:0;
    width:100%;
    padding: 0 5vw;
    
}
.services{
    position: absolute;
    top:0;
    right: 0px;
    width:55vw;
   
}
.list-services{
    position: absolute;
    top:450px;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-around;
    padding:0 5vw;
    background:url('../images/back.png') no-repeat fixed;
    background-size: cover;
    padding:100px 0;
    margin-top: 12vh;
}
.list-card{
    width: 15%;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.65);
    position: relative;
}
.list-card p{
    text-align:center;
    padding-top:10px;
    width:100%;
    font-family: 'Niramit', sans-serif;
    font-size:1.2em;
}

.list-card img{
    width:60%;
    display:block;
    margin: 0 auto;
}
[services]::after{
    content: attr(services);
    padding-top:8px;
    background: #fff;
    color:#30CFD0;
    width: calc(95%);
    position: absolute;
    bottom: -45%;
    box-shadow: 6px 4px 6px -2px rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
    left:0;
    font-family: 'Niramit', sans-serif;
    transition: color, background-color 0.3s ease-in-out;
}
[services]{
    transition: background-color 0.3s ease;
    cursor: pointer;
}
[services]:hover{
    background-color: rgba(256,256,256,0.7);
}
[services]:hover::after{
    color:#fff;
    background-color: #30CFD0;
}
.portfolio{position: absolute;
top:140vh;
left:0;
width:100%;
padding:0 10vw 0 5vw;
margin-top: 15vh;

}
.portfolio-box{
    display: grid;
    grid-template-columns: 32% 36% 32%;
    grid-template-rows: [row] auto [row] auto [row] ;
    grid-gap: 1.5em; 
    grid-row-gap: 1.5em;
    width:100%;
}
.portfolio-box > div{
    position: relative;
    cursor: pointer;
}
.overlay{
    position: absolute;
    top:3%;
    left:3%;
    height:94%;
    width:94%;
    z-index:1;
    background: rgba(0,0,0,0.8);
    opacity:0;
    transition: opacity 0.3s ease-in;
}
.portfolio-box p{
    position: absolute;
    top:0;
    right:0;
    z-index: 3;
    font-family: 'Roboto',sans-serif;
    padding: 1.2em;
    color: #30CFD0;
    font-size: 1.5em;
    opacity:0;
    transition: opacity 0.3s ease;
}
.portfolio-box > div:hover .overlay{
opacity: 1;
}
.portfolio-box > div:hover p{
    opacity: 1;
}

.portfolio-box img{
    width:100%;
    height:100%;
    z-index: 0;
    opacity:0.95;
}
.a{
    grid-row:row;
    grid-column:1/ span 1;
}
.b{
    grid-row:2;
    grid-column: 1;
}
.c{
    grid-column:2/span 1;
    grid-row:1/ span 2;
}
.d{
    grid-column: 3/ span 1;
    grid-row: 1/ span 2;
}

.f{
    grid-column: 1/ span 2;
    grid-row:3;
    height:90%;
}
.e{
    grid-column: 3/span 1;
    grid-row: 3 /span 1;
    height:90%;
}
@keyframes transformation-before{
    to{
        transform: translate(0,-5.4em);
        opacity: 1;
    }
}
@keyframes transformation-after{
    to{
        transform: translate(0,-1.3em);
        opacity:1;
    }
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #30CFD0 
	}
}