*{
    box-sizing: border-box;
}
::selection{
    color: pink;
}
.divider{width:100%;
height: 6vh;}
body{
    padding:0;
    margin:0;
    
}
header{
    position: fixed;
    width:100%;
    top:0;
    background: transparent;
    z-index: 1001;
}
.hero{
    position: relative;;
    height: 800px;
    top:0;
    left:0vw;
    right:0;
    background:url('../images/hero2.jpg') no-repeat;
    background-size: cover;
    opacity:1;
    border-top-left-radius: 48%;
    -webkit-border-left-radius:48%;
}
svg{
    height:600px;
    position: absolute;
    bottom:0;
    width:100%;
    fill: #fff;
    z-index:5;
}
.cta-container{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align:center;
}
.cta a{
    padding:20px;
    background:red;
    border:  50%;
    border-bottom-left-radius:  50%;
}
.cta-container p{
    font-family: 'Anton',sans-serif;
    color:#fff;
    font-size:4.2em;
}

.first{display:block;
transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.first ul{
    display: flex;
    list-style-type: none;
    padding:4vh 12vw; 
    margin:0;
    justify-content: center;
    width:100%;
}
.first li:first-child{
    margin-right: auto;
}
 li:not(:last-child){
    margin-right: 20px;
}
.first a{
    font-family: 'Niramit', sans-serif;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    color:#333;
    position: relative;
}
.first a::before{
    content:'';
    border-bottom: 3px solid;
    width: calc(100%);
    position: absolute;
    left:0px;
    bottom:0;
    transform: translateY(5px);
    transition: opacity, transform 0.3s;
    opacity:0;
}
.logo::before{
    display:none;
}
.first a:hover::before{
    transform: translateY(0);
    opacity:1;
}
#toggle-menu{
  position: fixed;
  top:0;
  right:0;
  width:auto;
  background: rgba(0,0,0,0.95);
  height:100%;
  padding-top: 80px;  
  overflow-x: hidden;
  width:0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition:width 0.3s;
  z-index: 1;
  box-shadow: 3px 4px 6px -2px rgba(0,0,0,0.3);
}
#toggle-menu a{
    display: block;
    color:#fff;
    font-family: 'Niramit',sans-serif;
    font-size: 3.2em;
    padding-right: 20px;
    text-decoration: none;
}
#toggle-menu a:hover{
    color: grey;
}
.nav-container{
    position: relative;
}
.nav-container div{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding:2vh 6vw;
    color:#fff;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background: #000;
    box-shadow: 5px 2px 6px -3px rgba (0,0,0,0.4);
  }
.scroll .first{
 transform: translateY(-140px);
 position: absolute;
 width:100%;
 transition: transform 0.5s ease-in;
}
.scroll .hamburger{
    opacity:1;
    transition: opacity 1.7s cubic-bezier(0.23, 1, 0.320, 1);
}

main{display: block;
transition:width 0.3s;
}
/*about us*/
.about{
    position: relative;
    background:blue;
    padding-top:0px;
}
.about-us{
    position: absolute;
    top:0;
    right: 0px;
    width:47vw;
}
.about-us p{
    padding:0;
    margin:0;
}

.about-us span, .team span{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
font-family: 'Niramit',sans-serif;
font-size: 1.5em;
text-align:center;
position:relative;
width:calc(100%);
margin:0;
box-sizing: border-box;
font-weight:bold;
}
.about-us span::before, .team span::before{
    content:'';
    border-bottom: 3px solid;
    border-color: #30cfd0;
    width: calc(100% - 30%);
    position: absolute;
    left:0px;
    bottom:0;
}
.about p:not(:first-child){
    font-size:2.6em;
    font-family:'Anton',sans-serif;
    margin:0;
}
.about p:last-child{
    font-size:1.5em;
    font-family: 'Niramit', sans-serif;
}
#animated {
    text-align: left;
    height: 7vh;
    margin:0;
}
/*styling for animated text*/
#text {
	display: inline-block;
	vertical-align: middle;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Niramit', sans-serif;
    font-size:2.6em;
    font-weight:bold;
    padding:0;
    margin:0;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #30CFD0;
	animation: blink .75s step-end infinite;
}
/*about us team*/
.team{
    position: absolute;
    top:392px;
    left:0;
    background: red;
    width:100%;
    padding:5vh;
}
.team-picture{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:70vw;
}
.team-picture p{
    width:100%;
    background:white;
    text-align:right;
    font-size:1em;
    padding:0 7px;
}
.card{
    background: #fff;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #30CFD0 
	}
}